@model Dominio.Investimento

@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastrar</h1>

<h4>Investimento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Cadastrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Nome</label>
                @Html.EditorFor(Model => Model.Nome)
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Valor total</label>
                @Html.EditorFor(Model => Model.ValorTotal)
                <span asp-validation-for="ValorTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Preço médio</label>
                @Html.EditorFor(Model => Model.PrecoMedio)
                <span asp-validation-for="PrecoMedio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Quantidade</label>
                @Html.EditorFor(Model => Model.Quantidade)
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Tipo do investimento</label>
                @Html.DropDownListFor(Model => Model.TipoInvestimento.TipoInvestimentoId,
                     new SelectList(ViewBag.listaTipoInvestimento,
                     "TipoInvestimentoId",
                     "Nome"),
                     "---Selecione---")
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
