@model Dominio.Investimento

@{
    ViewData["Title"] = "Detalhes";
}

<style>
 
</style>

<h1>Detalhes</h1>

<div>
    <h4>Investimento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            Id
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.InvestimentoId)
        </dd>
        <dt class="col-sm-4">
            Nome
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.InvestimentoUnico.Nome)
        </dd>
        <dt class="col-sm-4">
            Tipo do investimento
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.InvestimentoUnico.TipoInvestimento.Nome)
        </dd>
        <dt class="col-sm-4">
            Valor total
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>
        <dt class="col-sm-4">
            Preço médio
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.PrecoMedio)
        </dd>
        <dt class="col-sm-4">
            Quantidade
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Editar", new { id = @Model.InvestimentoId }) |
    <a asp-action="Index">Voltar à lista</a>
</div>
