@model Dominio.Investimento

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Investimento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InvestimentoId" />
            <div class="form-group">
                <p>Carteira <b>@Model.Carteira.Nome</b></p>
                <p>@Model.InvestimentoUnico.Nome | @Model.InvestimentoUnico.Ticket</p>                
            </div>
            <div class="form-group">
                <label asp-for="ValorTotal" class="control-label"></label>
                <input asp-for="ValorTotal" value="@Model.ValorTotal" class="form-control" />
                <span asp-validation-for="ValorTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoMedio" class="control-label"></label>
                <input asp-for="PrecoMedio" value="@Model.PrecoMedio" class="form-control" />
                <span asp-validation-for="PrecoMedio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" value="@Model.Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
