@model IEnumerable<Dominio.Investimento>

@{
    ViewBag.Title = "Lista de investimentos";
}

<h2>Lista de Investimentos</h2>

<p>@Html.ActionLink("Novo investimento", "Cadastrar")</p>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Tipo de investimento</th>
            <th>Preço médio</th>
            <th>Quantidade</th>
            <th>Valor total</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
<tr>
    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
    <td>@Html.DisplayFor(modelItem => item.TipoInvestimento.Nome)</td>
    @*<td>@Html.DisplayFor(modelItem => item.InvestimentoCarteiras)</td>*@
    <td>@Html.DisplayFor(modelItem => item.PrecoMedio)</td>
    <td>@Html.DisplayFor(modelitem => item.Quantidade)</td>
    <td>@Html.DisplayFor(modelItem => item.ValorTotal)</td>
    <td>
        @Html.ActionLink("Editar", "Editar", new { id = item.InvestimentoId })
        @Html.ActionLink("Detalhes", "Detalhes", new { id = item.InvestimentoId })
        @Html.ActionLink("Excluir", "Excluir", new { id = item.InvestimentoId })
    </td>
</tr>
    }
</table>